/* --- General --- */
* {
	font-size:16px;
	font-weight: normal;
	font-family: Hack Nerd Font;
	transition: all 0.5s ease;
}
window#waybar{
	all: unset;
}

#mpris, #clock, #workspaces, #memory, #battery, #window, #cpu, #backlight, #pulseaudio {
	color: @foreground;
	padding: 2px 10px;
	border-radius: 2px;
	border: solid 2px alpha(@foreground, 0.3);
}

/* --- Positions --- */
.modules-left {
	margin: 5px 0px 2px 0px;
}
.modules-center {
	margin: 5px 0px 2px 10px;
}
.modules-right {
	margin: 5px 10px 2px 0px;
}

.modules-right .module, .modules-left .module, .modules-center .module {
	padding: 0px 10px;
	color: @foreground;
}

/* --- CPU --- */
#cpu {
	color: lightskyblue;
}

/* --- Memory --- */
#memory {
	color: darkseagreen;
}
#memory.warning {
	color: orange;
	font-weight: bold;
}

#memory.critical {
	color: red;
	font-weight: bold;
}

/* --- Workspaces --- */
#workspaces {
	margin-left: 0px;
}
#misc {
	margin-right: 0px;
}

#workspaces button {
	all: unset;
	padding: 0px 10px;
}

/* --- Battery --- */
#backlight {
	color: lightgoldenrodyellow;
}

/* --- Battery --- */
#battery {
	color: lightskyblue;
}
#battery.warning {
	color: orange;
}
#battery.critical {
	color: red;
}

#clock {
	color: floralwhite;
	background: indigo;
}

